<div class="num" id="num_2" style="background: url(Uploads/images/2017/07/11/1499780526_classify_img.png) no-repeat center #000;">
	<div class="case">
		<div class="case-top width_1000" style="width: 1075px !important;max-width: 100%;margin-top: 20px;">
			<div class="case-top-left">
				<p class="case-top-left-top">我不是你的唯一 但你是我的全部</p>
				<p class="case-top-left-bottom">星空犬舍</p>
			</div>
			<div class="case-top-right">
				<span></span>
				<sup>+</sup>
			</div>
		</div>
		<div class="case_ul_wrap">
			 
			<ul class="case_ul">
				<li>
					<a href="#">
						<div class="show">
							<img src="static/images/icons.png" alt="">
						</div>
						<img src="Uploads/images/2017/07/07/378814612_goods_img.jpg">
						<div class="auto">
							<h4>案例1</h4>
							<span>案例1案例1案例1案例1案例1案例1案例1案例1案例1案例1</span>
							<div class="auto_mask"></div>
						</div>
					</a>
				</li>
			</ul>
			 
			<ul class="case_ul">
				<li>
					<a href="#">
						<div class="show">
							<img src="static/images/icons.png" alt="">
						</div>
						<img src="Uploads/images/2017/07/07/13549547_goods_img.jpg">
						<div class="auto">
							<h4>案例2</h4>
							<span>案例1案例1案例1案例1案例1案例1案例1案例1案例1案例1</span>
							<div class="auto_mask"></div>
						</div>
					</a>
				</li>
			</ul>
			 
			<ul class="case_ul">
				<li>
					<a href="/#125">
						<div class="show">
							<img src="static/images/icons.png" alt="">
						</div>
						<img src="Uploads/images/2017/07/07/52513478_goods_img.jpg">
						<div class="auto">
							<h4>案例1</h4>
							<span>案例1案例1案例1案例1案例1案例1案例1案例1案例1案例1</span>
							<div class="auto_mask"></div>
						</div>
					</a>
				</li>
			</ul>
								
		</div>
		<div class="teachshow xiangying_anli cont-right-out">
			<div id="teach" class="mr_frbox1">
				<img class="mr_frBtnL prev" src="static/images/prev.png">
				<div class="mr_frUl1">
					<div class="tempWrap" style="overflow:hidden; position:relative; width:234px">
						<ul style="width: 1170px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -702px;" class="case_ul">



 

							<li class="clone" style="float: left; width: 230px;">
								<a href="http://www.fengyunkj.net/anli/2017/03-03/457.html">
									<div class="show"><img src="static/images/icons.png" alt=""></div>
									<img src="Uploads/images/2017/07/07/378814612_goods_img.jpg" alt="">
									<div class="auto">
										<h4>案例1</h4>
										<span>案例1案例1案例1案例1案例1案例1案例1案例1案例1案例1</span>
										<div class="auto_mask"></div>
									</div>
								</a>
							</li>
 

									<li class="clone" style="float: left; width: 230px;">
								<a href="http://www.fengyunkj.net/anli/2017/03-03/457.html">
									<div class="show"><img src="static/images/icons.png" alt=""></div>
									<img src="Uploads/images/2017/07/07/13549547_goods_img.jpg" alt="">
									<div class="auto">
										<h4>案例2</h4>
										<span>案例1案例1案例1案例1案例1案例1案例1案例1案例1案例1</span>
										<div class="auto_mask"></div>
									</div>
								</a>
							</li>
 

									<li class="clone" style="float: left; width: 230px;">
								<a href="http://www.fengyunkj.net/anli/2017/03-03/457.html">
									<div class="show"><img src="static/images/icons.png" alt=""></div>
									<img src="Uploads/images/2017/07/07/52513478_goods_img.jpg" alt="">
									<div class="auto">
										<h4>案例1</h4>
										<span>案例1案例1案例1案例1案例1案例1案例1案例1案例1案例1</span>
										<div class="auto_mask"></div>
									</div>
								</a>
							</li>




						</ul>
					</div>
				</div>
				<img class="mr_frBtnR next" src="static/images/next.png"></div>
		</div>
		
		<div class="case-bottm">
			<a href="#386" style="display:block;width:100%;height:100%;">MORE+</a>
		</div>
	</div>
</div>