<div class="num" id="num_0">
	
	<div class="mask">
		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="bd">
				<ul>
					<li class="banner1" style="background: url(Uploads/images/2017/07/11/1499765628_banner_img.jpg) no-repeat center/cover;">
						<div class="fangan" id="a3">
							<hgroup>
								<h3><span>Star Kennel</span></h3>
								<h2>星空犬舍给予客户保障</h2>
								<h6></h6>
								<h4><span>保障健康 - 保障纯种 - 保障血统 - 售后保障</span> </h4>										<h5>
								<a href="#">犬舍实景</a></h5>
							</hgroup>
						</div>
					</li>
					<li class="banner2" style="background: url(Uploads/images/2017/07/08/1499497405_banner_img.jpg) no-repeat center/cover;">
						<div>
							<div class="fengxian" id="a1">
								<div>
									<img src="static/images/fengxian.png" alt="" />
									<hgroup>
<h3>
星空犬舍
</h3>
<h2>
中国犬业领跑者
</h2>
<h4>
外地客户采用空运有氧舱发货 安全 放心&nbsp;
</h4>
</hgroup>										</div>
							</div>
						</div>
					</li>
					

												<li class="banner3" style="background: url(Uploads/images/2017/07/11/1499759374_banner_img.jpg) no-repeat center/cover;">
						<div class="six" id="a2">
							<div>
								<img src="static/images/six2.png" alt="" class="sixb" />
								<img src="static/images/six1.png" alt="" class="sixa" />
								<hgroup>
<h3>
星空犬舍24小时&nbsp;<br />
电话指导喂养问题
</h3>
<h2>
1对1
</h2>
<h4>
买卖只是起点 服务永无终点<br />
咨询电话 13810331380&nbsp;
</h4>
</hgroup>									</div>
						</div>
						<div class="another"></div>
					</li>
				</ul>				
			</div>
		</div>
	</div>
</div>