<div class="num" id="num_1">
	<div class="server">
		<ul class="server_ul server_ul_hover">
			 
			<li>
				<div class="server_cont">
			<a href="#373">
			<div class="server_img server_img1">
			<img src="./Uploads/images/2017/07/12/1499841937_classify_img.png" alt="" class="sho">
			<img src="./Uploads/images/2017/07/12/1499841937_page_img.png" alt="" class="hid"></div>
			</a>
					<p>小型犬</p>
					<div class="server_intro">星空小型犬欣赏点击进入</div></div>
				<div class="server_mask" style="overflow: hidden; height: 0%;">
					<div class="server_mask_div"></div>
				</div>
				<img src="./Uploads/images/2017/07/12/1499841867_classify_img.png" alt="">
			</li>
								 
			<li>
				<div class="server_cont">
			<a href="#374">	
					<div class="server_img server_img2">
			<img src="./Uploads/images/2017/07/12/1499843108_classify_img.png" alt="" class="sho">
			<img src="./Uploads/images/2017/07/12/1499843108_page_img.png" alt="" class="hid"></div></a>
					<p>中型犬</p>
					<div class="server_intro">星空中型犬欣赏点击进入</div></div>
				<div class="server_mask" style="height: 0%;">
					<div class="server_mask_div"></div>
				</div>
				<img src="./Uploads/images/2017/07/12/1499843091_classify_img.png" alt="">
			</li>
								 
			<li>
				<div class="server_cont">
			<a href="#375">	
					<div class="server_img server_img3">
			<img src="./Uploads/images/2017/07/12/1499843156_classify_img.png" alt="" class="sho">
			<img src="./Uploads/images/2017/07/12/1499843156_page_img.png" alt="" class="hid"></div></a>
					<p>大型犬</p>
					<div class="server_intro">星空大型犬欣赏点击进入</div></div>
				<div class="server_mask" style="height: 0%; overflow: hidden;">
					<div class="server_mask_div"></div>
				</div>
				<img src="./Uploads/images/2017/07/12/1499843145_classify_img.png" alt="">
			</li>
								 
			<li>
				<div class="server_cont">
			<a href="#376">	
					<div class="server_img">
			<img src="./Uploads/images/2017/07/12/1499842806_classify_img.png" alt="" class="sho">
			<img src="./Uploads/images/2017/07/12/1499842806_page_img.png" alt="" class="hid"></div></a>
					<p>猛犬</p>
					<div class="server_intro">星空猛犬欣赏点击进入</div></div>
				<div class="server_mask" style="overflow: hidden; height: 0%;">
					<div class="server_mask_div"></div>
				</div>
				<img src="./Uploads/images/2017/07/12/1499842776_classify_img.png" alt="">
			</li>
								 
			<li>
				<div class="server_cont">
			<a href="#377">	
					<div class="server_img">
			<img src="./Uploads/images/2017/07/12/1499842637_classify_img.png" alt="" class="sho">
			<img src="./Uploads/images/2017/07/12/1499842637_page_img.png" alt="" class="hid">
					</div></a>
					<p>名猫欣赏</p>
					<div class="server_intro">星空猫咪欣赏点击进入</div>
				</div>
				<div class="server_mask" style="overflow: hidden; height: 0%;">
					<div class="server_mask_div"></div>
				</div>
				<img src="./Uploads/images/2017/07/12/1499842612_classify_img.png" alt="">
			</li>
							</ul>
	</div>
</div>
